main {
    padding: 10px;

    body {
        margin: 0;

        .tables-section {
            display: flex;
            gap: 50px;
            margin-bottom: 10px;
        
            .candidates-container, .voters-container {
                width: 50%;
        
                .table-title-wrapper {
                    border: 1px solid black;
                    display: flex;
                    flex-direction: row;
                    height: 40px;

                    div {
                        margin-bottom: auto;
                        margin-top: auto;
                        text-align: center;
                        width: 100%;
                    }
        
                    button {
                        border-radius: 50%;
                        width: 40px;
                    }
                }
        
                .candidate-wrapper, .column-titles-wrapper, .voter-wrapper {
                    align-items: center;
                    border: 1px solid black;
                    border-top: 0;
                    display: flex;
                    flex-direction: row;
                    height: 40px;
                    text-align: center;
            
                    :first-child {
                        width: 75%;
                    }
            
                    :last-child {
                        border-left: 1px solid black;
                        width: 25%;
                    }
            
                    div {
                        align-content: center;
                        height: 100%;
                    }
                }
            }
        }

        .voting-section {
            align-items: flex-start;
            display: flex;
            gap: 60px;

            form {
                display: flex;
                gap: 20px;
            }

            button {
                height: 57px;
                width: 250px;
            }
        }
    }
}