<main>
    <body>
        <h1>Voting App</h1>

        <section class="tables-section">
            <div class="voters-container">
                <div class="table-title-wrapper">
                    <div>Voters</div>
                    <button (click)="openDialog(votingTypes.Voter)">+</button>
                </div>
                
                <div class="column-titles-wrapper">
                    <div>Name</div>
                    <div>Has voted</div>
                </div>

                @for (voter of voters; track voter.Id) {
                    <div class="voter-wrapper">
                        <div>{{voter.FullName}}</div>
                        <div>{{voter.HasVoted}}</div>
                    </div>
                }
                @empty {
                    <span>No items found</span>
                }
            </div>

            <div class="candidates-container">
                <div class="table-title-wrapper">
                    <div>Candidates</div>
                    <button (click)="openDialog(votingTypes.Candidate)">+</button>
                </div>

                <div class="column-titles-wrapper">
                    <div>Name</div>
                    <div>Votes</div>
                </div>

                @for (candidate of candidates; track candidate.Id) {
                    <div class="candidate-wrapper">
                        <div>{{candidate.FullName}}</div>
                        <div>{{candidate.NumberOfVotes}}</div>
                    </div>
                }
                @empty {
                    <span>No items found</span>
                }
            </div>
        </section>

        <hr>

        <h1>Voting App</h1>

        <section class="voting-section">
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>I am</mat-label>
                    <select
                        matNativeControl
                        formControlName="VoterId">
                        @for (voter of voters; track voter.Id) {
                            @if(!voter.HasVoted){
                                <option [value]="voter.Id">{{voter.FullName}}</option>
                            }
                        }
                    </select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>I vote for</mat-label>
                    <select
                        matNativeControl
                        formControlName="CandidateId">
                        @for (candidate of candidates; track candidate.Id) {
                            <option [value]="candidate.Id">{{candidate.FullName}}</option>
                        }
                    </select>
                </mat-form-field>
            </form>

            <button (click)="castVote()">submit</button>
        </section>
    </body>
</main>